@page "/"
@inherits EmployeeListBase

<h3>Employee List</h3>
@if (ShowFooter)
{
    <input type="checkbox" @bind-value="ShowFooter" checked @bind-value:event="oninput" />
}
else
{
    <input type="checkbox" @bind-value="ShowFooter" @bind-value:event="oninput" />
}
<label>Show Footer</label>
<br />
@if(TotalSelectedEmployees > 0)
{
    <b>Selected: </b> @TotalSelectedEmployees
}

@if(Employees == null || Employees.Count() < 1)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-group">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee @ref="DisplayEmployeeRef" Employee="@employee" ShowFooter="@ShowFooter" OnSelectionChanged="GetTotalSelectedEmployees" OnDeleteCallback="OnDeleteEmployee" DeleteConfirmation="DeleteConfirmation"></DisplayEmployee>
        }
    </div>
}

<Confirmation @ref="DeleteConfirmation" ConfirmationChanged="DeleteEmployee"></Confirmation>

