<h3 style="@InputSelect @BorderStyle">ChildComponent - @Counter</h3> 
<GrandChildComponent></GrandChildComponent>

@code {
    [CascadingParameter(Name = "ColorStyle")]
    public string InputSelect { get; set; }

    [CascadingParameter(Name = "BorderStyle")]
    public string BorderStyle { get; set; }

    [CascadingParameter(Name = "Counter")]
    public int Counter { get; set; }
}
